*{
    margin: 0px;
    padding: 0px;
    word-spacing: 0.3em;
    font-family: sans-serif;
}
h3{
    margin-left: 250px;
    padding-top: 50px;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 200px;
    padding-bottom: 20px;

}
.image{
    width: 50%;
}
.image img{
    width: 100%;
}
.text{
    font-size: 25px;
    width: 50%;
}
.text p{
    margin: 50px 0px;
    line-height: 40px;
}
a{
    word-spacing: 2px;
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
}
@media screen and (max-width:576px){
    .container{
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 100px;
    }
    .image{
        width: 100%;
    }
    .text{
        font-size: 30px;
        width: 100%;
    }
    h3{
        margin-left: 30px;
        padding-top: 50px;
    
    }
}